body {
    margin: 0;
    overflow: hidden;
}

#colorPanel {
    width: 100vw;
    height: 100vh;
    border: none;
    background-color: hsla(52500, 90%, 60%, 1);
    -webkit-transition: 2.4s ease;
    transition: 2.4s ease;
}
